@import '../variables';
@import '../mixins';

html, body {
  min-height: 100%;
  overflow: hidden;
}
html {
  background: var(--black);
}
html body {
  padding: 0;
  margin: 0;
  position: relative;
  color: var(--white);
  font-family: var(--text-font);
}
