//
// FONTS
// ----------------------------------------------
$title-font: 'Orbitron', sans-serif;; 
$text-font: 'Montserrat', sans-serif;; 


@mixin fonts-cssvars {
  :root {
    --title-font: #{$title-font};
    --text-font: #{$text-font};
  }
}